.form-holder {
     display: block;
     width: 100%;
     max-width: 500px;
     margin: 2rem auto;
}
 .form-input {
     margin: 3rem auto;
     display: block;
}
 .label-input {
     width: 100%;
     margin: 1rem auto;
     display: grid;
}
 .label {
     float:left;
     margin-top: 2rem;
}
 .text-input {
     float:left;
}
 .packageHolder {
     margin: auto;
     width: 600px;
}
 .chartHolder {
     width: 100%;
     background: #fff;
}
 .chart {
     width:100%;
     background: #fff;
}
 .horizontalBarChart {
     width:100%;
     margin-bottom: 20px;
     display:inline-block;
     background:#fff;
}
 .horizontalBarChart .row {
     margin-bottom:0.2rem;
     padding-bottom:0.2rem;
     border-bottom:1px dotted #eee;
     width:100%;
     float:left;
}
 .horizontalBarChart .Name {
     padding-right: 0.5rem;
     width:20%;
     margin-bottom:0.2rem;
     font-family:'BentonSans', Helvetica, Arial, sans-serif;
     float:left;
     text-align:right;
     font-size:0.9rem;
}
 .horizontalBarChart .Value {
     float:left;
     display:inline;
     margin-right:1.5%;
}
 .horizontalBarChart .Value span {
     float:left;
     height:20px;
     width:100%;
     background:#58889e;
     border: 1px solid #000;
}
 .horizontalBarChart .ValueNumber {
     margin-bottom:0.2rem;
     font-family:'BentonSans', Helvetica, Arial, sans-serif;
     float:left;
     font-size:0.9rem;
     display:inline;
}
 .state {
     fill: #EEE;
     stroke: #AAA;
}

#submitButton {
	width: 200px;
	display: block;
	font-size: 1.75rem;
}